<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.web.dao.FaceImageMapper">
    <resultMap id="FaceImageResultMap" type="com.base.web.bean.FaceImage">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="resourceId" column="resource_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="deviceId" column="device_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'FaceImageResultMap'"/>
        <bind name="tableName" value="'t_face_image'"/>
    </sql>

    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="Long" resultMap="FaceImageResultMap">
        select * from t_device where u_id=#{u_id}
    </select>

    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="FaceImageResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <select id="listFaceImage" parameterType="com.base.web.bean.UploadValue" resultType="java.util.HashMap">
        SELECT
        tfi.u_id AS id,
        tfi.resource_id AS resourceId,
        tfi.create_time AS createTime,
        td.`name`,
        tab.similarity,
        tb.`name` AS blackListName,
        tb.`code`
        FROM
        t_face_image tfi
        INNER JOIN t_device td ON td.u_id = tfi.device_id
        LEFT JOIN ( t_association_blicklist tab, t_blacklist tb ) ON tfi.u_id = tab.face_image_id
        AND tab.blacklist_id = tb.u_id AND tb.`status` = 0
        <where>
            <if test="organizationId != null">
                td.organization_id Like CONCAT(#{organizationId},'%')
            </if>
            <if test="deviceId != null">
                AND tfi.device_id = #{deviceId}
            </if>
            <if test="searchStart != null">
                AND tfi.create_time <![CDATA[ >= ]]> #{searchStart}
            </if>
            <if test="searchEnd">
                AND tfi.create_time  <![CDATA[ <= ]]> #{searchEnd}
            </if>
        </where>
        ORDER BY tfi.create_time DESC
        LIMIT #{pageIndex},#{pageSize}
    </select>
    <select id="listFaceImageTotal" parameterType="com.base.web.bean.UploadValue" resultType="int">
        SELECT
        COUNT(tfi.u_id)
        FROM
        t_face_image tfi
        INNER JOIN t_device td ON td.u_id = tfi.device_id
        <where>
            <if test="organizationId != null">
                td.organization_id Like CONCAT(#{organizationId},'%')
            </if>
            <if test="deviceId != null">
                AND tfi.device_id = #{deviceId}
            </if>
            <if test="searchStart != null">
                AND tfi.create_time <![CDATA[ >= ]]> #{searchStart}
            </if>
            <if test="searchEnd">
                AND tfi.create_time  <![CDATA[ <= ]]> #{searchEnd}
            </if>
        </where>
    </select>
</mapper>

