<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.web.dao.FaceImageMapper">
    <resultMap id="FaceImageResultMap" type="com.base.web.bean.FaceImage">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="resourceId" column="resource_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="deviceId" column="device_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'FaceImageResultMap'"/>
        <bind name="tableName" value="'t_face_image'"/>
    </sql>

    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="Long" resultMap="FaceImageResultMap">
        select * from t_device where u_id=#{u_id}
    </select>

    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="FaceImageResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <select id="queryAllFaceImage" parameterType="com.base.web.bean.common.QueryParam" resultType="java.util.HashMap">
        SELECT tfi.u_id AS id, tfi.resource_id AS resourceId,tr.create_time AS createTime
        FROM t_face_image tfi,t_resource tr, t_device td
        WHERE tfi.resource_id = tr.u_id AND td.u_id = tfi.device_id

        <if test="terms.size >= 3 and terms[3].value != null">
            AND td.organization_id Like #{terms[3].value}
        </if>
        <if test="terms.size >= 7 and terms[6].value != null">
            AND tfi.device_id = #{terms[6].value}
        </if>
        <if test="terms.size >= 5 and terms[4].value != null">
            AND tr.create_time <![CDATA[ >= ]]> #{terms[4].value}
        </if>
        <if test="terms.size >= 6 and terms[5].value != null">
            AND tr.create_time  <![CDATA[ <= ]]> #{terms[5].value}
        </if>
        ORDER BY tfi.create_time DESC
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="queryFaceImageTotal" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        SELECT COUNT(tfi.u_id) FROM t_face_image tfi, t_device td
        WHERE td.u_id = tfi.device_id
        <if test="terms.size >= 3 and terms[3].value != null">
            AND td.organization_id Like #{terms[3].value}
        </if>
        <if test="terms.size >= 7 and terms[6].value != null">
            AND tfi.device_id = #{terms[6].value}
        </if>
        <if test="terms.size >= 5 and terms[4].value != null">
            AND tr.create_time <![CDATA[ >= ]]> #{terms[4].value}
        </if>
        <if test="terms.size >= 6 and terms[5].value != null">
            AND tr.create_time  <![CDATA[ <= ]]> #{terms[5].value}
        </if>
    </select>

</mapper>

