<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.web.dao.ServerDeviceMapper">
    <resultMap id="ServerDeviceResultMap" type="com.base.web.bean.ServerDevice">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="serverId" column="server_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="deviceId" column="device_id" javaType="Long" jdbcType="BIGINT"/>
    </resultMap>
    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ServerDeviceResultMap'"/>
        <bind name="tableName" value="'t_server_device'"/>
    </sql>

    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="Long" resultMap="ServerDeviceResultMap">
        select * from t_ServerDevice where u_id=#{u_id}
    </select>

    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="ServerDeviceResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <insert id="insertServerDevice" parameterType="com.base.web.bean.ServerDevice">
        INSERT INTO t_server_device(u_id, device_id,server_id) values
        <foreach collection="deviceIdList" index="index" item="item" separator=",">
            (#{id},#{item},#{serverId})
        </foreach>
    </insert>

    <update id="updateDeviceStatus" parameterType="Long">
        UPDATE t_device SET `status` = 1 WHERE u_id
    </update>

</mapper>

