server:
    port: 8080
#文件上传配置
multipart:
    enabled: true
    maxFileSize: 100Mb
    maxRequestSize: 100Mb
    location: /data/apache-tomcat-8.5.31/bin/upload
#spring config

spring:
    profiles:
       active: dev
    thymeleaf:
      prefix: classpath:/templates/
      suffix: .html
      cache: false
    mvc:
        favicon:
            enabled: false
    aop:
      auto: true
      proxyTargetClass: true


# MyBatis
mybatis:
    mapper-locations: classpath:mappers/**/*.xml
    config: classpath:config/mybatis-config.xml
#    dynamic-datasource: true  #启用mybatis动态数据源
# 分页配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql